{% extends 'base.html' %}

{% block content %}

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#projectModal">
      Add Project
    </button>

    <div id="projects">
        {% for project in projects %}
            <div class="card">
                <div id="projectDisplayBlock{{ project.id }}">
                    <h5 class="card-header">{{ project.name }}</h5>
                    <button class="project-edit" data-edit-block="projectEditBlock{{ project.id }}" data-display-block="projectDisplayBlock{{ project.id }}">Edit</button>
                </div>
                <div class="d-none" id="projectEditBlock{{ project.id }}">
                    <input id="projectNameEdit{{ project.id }}" value="{{ project.name }}">
                    <button class="projectEditSave" data-url="/project/{{ project.id }}/update" data-input="projectNameEdit{{ project.id }}">Save</button>
                </div>
                <div class="card-body">
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}

{% block modals %}
    <!-- Project Modal -->
    <div class="modal fade" id="projectModal" tabindex="-1" aria-labelledby="projectModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="projectModalLabel">Modal title</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <input type="text" id="projectName">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="saveProject">Save changes</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/static/js/add-project.js"></script>
{% endblock %}