{% extends 'base.html' %}

{% block content %}

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#projectModal">
      Add Project
    </button>

    <div id="projects">
        {% for project in projects %}
            <div class="card">
                <div id="projectDisplayBlock{{ project.id }}">
                    <h5 class="card-header" id="projectHeader{{ project.id }}">{{ project.name }}</h5>
                    <button class="project-edit" data-edit-block="projectEditBlock{{ project.id }}" data-display-block="projectDisplayBlock{{ project.id }}">Edit</button>
                </div>
                <div class="d-none" id="projectEditBlock{{ project.id }}">
                    <input id="projectNameEdit{{ project.id }}" value="{{ project.name }}">
                    <button class="projectEditSave" data-url="/project/{{ project.id }}/update" data-input="projectNameEdit{{ project.id }}">Save</button>
                </div>
                <button type="button" class="btn btn-primary add-task" data-bs-toggle="modal" data-bs-target="#taskModal" data-url="/project/{{ project.id }}/add-task">
                    Add Task
                </button>
                <div class="card-body" id="projectTasks{{ project.id }}">
                    <table>
                        <tbody>
                         {% for task in project.tasks %}
                            <tr>
                                <td>{{ task.name }}</td>
                                <td>{{ task.deadline }}</td>
                                <td>{{ task.priority }}</td>
                                {% if task.is_done %}
                                    <td>Done</td>
                                {% else %}
                                    <td>Not Done</td>
                                {% endif %}
                            </tr>
                             {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}

{% block modals %}
    <!-- Project Modal -->
    <div class="modal fade" id="projectModal" tabindex="-1" aria-labelledby="projectModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="projectModalLabel">Modal title</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <input type="text" id="projectName">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="saveProject">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Task Modal -->
    <div class="modal fade" id="taskModal" tabindex="-1" aria-labelledby="taskModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="taskModalLabel">Modal title</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <input type="text" id="taskName">
            <input type="number" id="taskPriority">
            <input type="date" id="taskDeadline">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="saveTask">Save changes</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/static/js/add-project.js"></script>
{% endblock %}